{% extends "base.html" %}

{% block app_content %}
    <h1>You're doing it!</h1>
    <br>
    <table class="table table-hover">
        <tr>
            <td>
                <br>
                {% for post in posts %}
                    <li>
                    post {{ loop.index }}: {{ post.body }} 
                    </li>
                {% endfor %}
            </td>
        </tr>
    </table>
    <h3 style="text-align: center">Sign Up For Our Email List!</h3>
    <form method="post" style="text-align: center">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" style="margin-bottom:3px"><br>
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email"><br>
        <input type="submit" value="Submit" style="margin-top:10px">
    </form>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
